/*------ Vero Birthday --------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  align-items: center;
  background-image: url('Vero.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  font-family: -apple-system, 
    BlinkMacSystemFont, 
    "Segoe UI", 
    Roboto, 
    Oxygen-Sans, 
    Ubuntu, 
    Cantarell, 
    "Helvetica Neue", 
    sans-serif;
}

.header {
  position: fixed;
  float: left;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 10px;
  background-color: orange;
  /*(background: #424242;
  background-image: url("halloween.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;*/
  box-shadow:  5px 8px 8px orange;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;;
  transition: height 0.3s;
  z-index: 999;
}

.container {
  position: absolute;
  top: 15px;
  right: 0;
  transition: all 1s ease;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  background:rgba(0,0,0,0.5);
  color: #ffd54f;
  text-align: center;
}

h1 {
  color: yellow;
  font-size: 1.5em;
  font-weight: normal;
  letter-spacing: .125rem;
  text-transform: uppercase;
}

li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 4.5rem;
}

.emoji {
  padding: 0 .25rem;
}

@media all and (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }
  
  li {
    font-size: 1.125rem;
    padding: .75rem;
  }
  
  li span {
    font-size: 3.375rem;
  }
}
/*----------------------------------- Footer ------------------------------*/
.footer {
  position: absolute;
  margin:20px 0 0;
  height: 150px;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: black;
  background-image:url("halloween2.png");
  background-size: contain;
  /*background-repeat: no-repeat;*/
  border-bottom:solid 5px #ffd54f;}

@media screen and (max-width: 1024px) {
  .footer {max-height:70px;}
}
